---
title: Joovo's Blog
layout: layouts/home.njk
description: Python & Hybrid. Mobile Developer.
image:
date: Last Modified
---

<p>
  <h2><a href="/posts/intro/">Look at Me!</a></h2>
  <div>Github: <a href="http://github.com/joovo">Joovo</a></div>
  <div>Email: wohfacm@gmail.com</div>
  <div>WeChat: jokazusa</div>
</p>

<div id="posts">
  <h2>Posts</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>


<div>
<h2>Link Exchange</h2>
<div>
<a href="http://blog.whunting.cn/">blog.whunting.cn</a>
</div>
<div>
<a href="https://blog.wifi9984.cn/">blog.wifi9984.cn</a>
</div>
</div>
